{% extends 'mmotd/base.html' %}

{% block extra_css %}
  <!-- Custom styles for this template -->
  <link href="/static/mmotd/css/newgame.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <form class="form" role="form" method="post">

      {% csrf_token %}

      <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        {# <label for="id_name" class="control-label">Name</label> #}
        <input class="form-control" id="id_name" name="name" placeholder="Name"{% if form.name.value %} value="{{ form.name.value }}"{% endif %}>
        {% for error in form.name.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-default">Create Game</button>

    </form>
  </div>
</div>
{% endblock %}
