body, html {
	margin:0;
	padding:0;
	overflow:hidden;
}

.popup {
    background:#333;
    color:#FFF;
    /*display:none;*/
    padding:10px;
    display:none;
    position:absolute;
    top:20px;
    left:200px;
    z-index:2;
}

.popup span {
    background:#fff;
    color:#222;
    cursor:pointer;
    display:inline-block;
    padding:10px;
    text-decoration: none;
}

.popup ul {
    padding:0;
    margin:0;
    list-style:none;
}

.popup ul li ul {
    display: none;
}