<div class="navbar navbar-default navbar-static-top navbar-inverse">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'awwm-index' %}">AWWM</a>

        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="{% url 'awwm-lobby' %}">Lobby</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'awwm-newgame' %}">New Game</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> Settings <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user"></span> Edit Profile</a>
                        </li>
                        <li>
                            <a href="{{ logout_url }}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>

</div>
