body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.signin .signin-heading {
  margin-bottom: 10px;
}
