<html>
<head>
    <title>Game</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script data-main="/static/js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>

<div id="game"></div>

<div id="actorPopup" class="popup">
    <ul>
        <li>
            <span id="btn_a">move</span> <span id="btn_b">action</span>
        </li>
    </ul>
</div>

<div id="builderPopup" class="popup">
    <ul>
        <li>
            <span id="btn_c">add</span>
            <ul id="builderPopupOpts">
                <li>
                    <span id="btn_d">defender</span>
                </li>
                <li>
                    <span id="btn_e">attacker</span>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>